<header>
    <div class="menu-open">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <h1 class="page-title">Page Title</h1>

    <nav class="nav">
        <div class="menu-close">
            <span></span>
            <span></span>
        </div>
        <ul>
            <li class="nav-link"><a href="/my-portfolio/index.html">Home</a></li>
            <li class="nav-link"><a href="/my-portfolio/pages/about-me.html">About Me</a></li>
            <li class="nav-item"><a href="/my-portfolio/pages/my-portfolio.html">Portfolios</a></li>                          
            <li class="nav-link"><a href="/my-portfolio/pages/contact-me.html">Contact Me</a></li>
        </ul>
    </nav> 
</header>
